body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#price-container {
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(49, 31, 16);
    border: 2px solid #387252;
    border-radius: 4px;
  }
  
  .price-element {
    background-color: #0cdd0c;
    border: 1px solid #b12b2b;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 5px;
    padding: 10px;
  }
  
  .currency-code {
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
    color: #d11171;
  }
  
  .currency-symbol {
    font-size: 16px;
    margin-right: 5px;
    color: rgb(51, 23, 209);
  }
  
  .price-rate {
    font-size: 20px;
    font-weight: bold;
    color: #1c9452;
  }
  